.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    align-items: center;
}

.header .header__title{
    font-size: 24px;
    font-weight: 600;
}

.header .header__icon{
    font-size: 20px;
    margin-left: 20px;
    cursor: pointer; /*아이콘은 링크로 만들것이기 때문에 마우스가 닿으면 화살표로 바뀐다.*/
}

.header .header__header-column{
    display: flex;
    align-items: center;
}

.header .header__back-btn{
    font-size: 22px;
    margin-right: 20px;
}

